.list-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}
  
mat-list {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    border: 1px solid #d2bcbc;
    box-shadow: 0 6px 20px rgba(0,0,0,0.1);
    background-color: rgb(255, 255, 255);
}
  
mat-list-item {
    display: block;
    padding: 10px;
    border-bottom: 1px solid #e94c4c7e;
}
  
mat-list-item:last-child {
    border-bottom: none;
}
  
mat-list-item p {
    font-size: 11px;
    margin: 0;
    white-space: normal;
    overflow: visible;
}

